{% extends 'users/layout5.html' %} {% block body %}
<div class="main">
  <p class="sign" align="center">Change Your Password</p>
  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors">
      {% for key, value in form.errors.items %}
      <strong>{{ value }}</strong>
      {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <label class="un" for="id_old_password">Old Password</label>
    <br>
    <br>
    <input 
      type="password"
      name="old_password"
      autocomplete="new-password"
      class="pass"
      required
      id="id_old_password"
      placeholder="Enter Old Password"
    /><br>
    <span> </span>
    <br>


    <label class="un" for="id_new_password1">New Password</label>
    <br>
    <br>
    <input
      type="password"
      name="new_password1"
      autocomplete="new-password"
      class="pass"
      required
      id="id_new_password1"
      placeholder="Enter New Password"
    /><br>
    <span> </span>
    <br>

    <label class="un" for="id_new_password2">New Password Confirmation</label>
    <br>
    <br>
    <input
      type="password"
      name="new_password2"
      autocomplete="new-password"
      required
      id="id_new_password2"
      class="pass"
      placeholder="Confirm New Password"
    /><br>
    <br>

    <button type="submit" class="submit" id="reset">
      Update Password
    </button>
  </form>
</div>
{% endblock body %}
