{% extends 'users/layout.html' %}
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large">
          <h1>Members</h1>
          <body>
              <ul >
                  <li>นางสาวชนาธินาถ พิศประเทือง 6310610941</li>
                  <li>นางสาวอรจิรา วงศ์พลกานันท์ 6310611022</li>
                  <li>นายภัทรกร แก้วชูกุล 6310611030</li>
                  <li>นางสาวธัญรดี นามบรรเทิง 6310682593 เอนไซม์</li>
              </ul>
          </body>
          <h1> Link </h1>
          <body>
              <ul>
              <li><a href="https://github.com/6310610941/cn331-project.git/">Visit github</a></li>
              <li><a href="https://www.pivotaltracker.com/n/projects/2607398/">Visit Privotal Tracker</a></li>
              </ul>
          </body>
      </div>
    </div>