{% extends 'about/layout.html' %}
{% block body %}
<br>
<br>
<div class="main">
<center>
<br>
<br>
<p1>Members</p1><br>
<br>
<p1>นางสาวชนาธินาถ พิศประเทือง 6310610941</p1><br>
<p1>นางสาวอรจิรา วงศ์พลกานันท์ 6310611022</p1><br>
<p1>นายภัทรกร แก้วชูกุล 6310611030</p1><br>
<p1>นางสาวธัญรดี นามบรรเทิง 6310682593 </p1><br>
<br>
<br>
<br>
<br>
<p1>Link</u></p1><br>
<br>
<p1><a href="https://github.com/6310610941/cn331-project.git/">Visit github</a></p1><br>
<p1><a href="https://www.pivotaltracker.com/n/projects/2607398/">Visit Privotal Tracker</a></p1>
</center>
</div>
{% endblock %}