<!DOCTYPE html>
<html>
<head>
<title>BTS For Fun</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
                <a href="{% url 'about:index' %}" class="w3-bar-item w3-button">BTS For Fun</a>
                <!-- Right-sided navbar links. Hide them on small screens -->
                <div class="w3-right w3-hide-small">
                    <a href="{% url 'about:about_us' %}" class="w3-bar-item w3-button">About Us</a>
                    <a href="{% url 'bts_for_fun:index' %}" class="w3-bar-item w3-button">List of Stations</a>
                    <a href="{% url 'about:index' %}" class="w3-bar-item w3-button">Fare</a>
                    <a href="{% url 'users:login' %}" class="w3-bar-item w3-button">Log in</a>
                    <a href="{% url 'users:signup' %}" class="w3-bar-item w3-button">Sign up</a>
                </div>
            </div>
  </div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="https://img.freepik.com/premium-photo/bts-skytrain-bangkok-cityscape_33997-114.jpg?w=2000" alt="BTS" width="1600" height="800">
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large">
        <h1>Members</h1>
        <body>
            <ul >
                <li>นางสาวชนาธินาถ พิศประเทือง 6310610941</li>
                <li>นางสาวอรจิรา วงศ์พลกานันท์ 6310611022</li>
                <li>นายภัทรกร แก้วชูกุล 6310611030</li>
                <li>นางสาวธัญรดี นามบรรเทิง 6310682593 เอนไซม์</li>
            </ul>
        </body>
        <h1> Link </h1>
        <body>
            <ul>
            <li><a href="https://github.com/6310610941/cn331-project.git/">Visit github</a></li>
            <li><a href="https://www.pivotaltracker.com/n/projects/2607398/">Visit Privotal Tracker</a></li>
            </ul>
        </body>
    </div>
  </div>