{% extends 'about/layout.html' %}
{% load static %}
{% block body %}
    {% if  user.is_authenticated %}
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a href="{% url 'about:index' %}" class="site-title"><span>BTS</span> for fun</a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="{% url 'about:index' %}" >Home</a></li>
                        <li ><a href="{% url 'about:about_us' %}">About us</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>
    
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="{% url 'bts_for_fun:index' %}">List of Stations</a></li>
                              <li><a href="{% url 'fare:index' %}">Fare</a></li>
                              <li><a href="{% url 'post:post-list' %}">Community</a></li>
                            </ul>
    
                        </li>
                        <li><a href="{% url 'users:profile' %}">Profile</a></li>
                        <li><a href="{% url 'users:logout' %}">Log out</a></li>
    
                    </ul>

                </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->
    {% else %}
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">

                <div class="navbar-header">
                   
                    <a href="{% url 'about:index' %}" class="site-title"><span>BTS</span> for fun</a>

                </div><!-- /.navbar-header -->

                <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="active"><a href="{% url 'about:index' %}" >Home</a></li>
                        <li ><a href="{% url 'about:about_us' %}">About us</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<i class="fa fa-caret-down hidden-xs" aria-hidden="true"></i></a>
    
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li><a href="{% url 'bts_for_fun:index' %}">List of Stations</a></li>
                              <li><a href="{% url 'fare:index' %}">Fare</a></li>
                              <li><a href="{% url 'post:index' %}">Community</a></li>
                            </ul>
    
                        </li>
                        <li><a href="{% url 'users:login' %}">Log in</a></li>
                        <li><a href="{% url 'users:signup' %}">Sign up</a></li>
                    </ul>

                </div>

            </div>   
        </nav><!-- /.site-navigation -->
    </header><!-- /#mastheaed -->
    {% endif %}
</head>
<body>

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>BTS For Fun</h1>
                <p>Easy to travel, no need to spend a long plan.</p>
                <a href="#" class="btn btn-border">Have fun</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>About us</h2>
                        <p>Member</p>
                        <body>
                            <ul >
                                <li>นางสาวชนาธินาถ พิศประเทือง 6310610941</li>
                                <li>นางสาวอรจิรา วงศ์พลกานันท์ 6310611022</li>
                                <li>นายภัทรกร แก้วชูกุล 6310611030</li>
                                <li>นางสาวธัญรดี นามบรรเทิง 6310682593 </li>
                            </ul>
                        </body>
                        <br>
                        <br>
                        <p>Link</p>
                        <body>
                            <ul>
                            <li><a href="https://github.com/6310610941/cn331-project.git/">Visit github</a></li>
                            <li><a href="https://www.pivotaltracker.com/n/projects/2607398/">Visit Privotal Tracker</a></li>
                            </ul>
                        </body>
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'img/train3.webp' %}" alt="">
                        
                    </div>
                </div>
            </div>
        </section><!-- /.section-features -->

    </main><!-- /#main -->
{% endblock %}