{% extends 'bts_for_fun/layout.html' %}
{% block body %}

<h1>List of Stations</h1>

<form action="{% url 'bts_for_fun:index'  %}" method="POST">
    {% csrf_token %}
    <select name = "station" >
        {% for station in stations %}
        <option value="{{ Station.id }}">{{ station }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Select Station">
</form>

<ul>
    {%for station in stations%}
    <li>{{station}}</li>
    {%empty%}
    <li>No station.</li>
    {%endfor%}
</ul>
{% endblock %}

