{% extends 'bts_for_fun/layout.html' %}
{% block body %}
<br>
<br>
<center>
<p1>Station : {{ station.id }}</p1><br>
<br>
<p1>Station : {{ station.code_station }} {{ station.thai_name_station }} ({{ station.eng_name_station }})</p1>
<br>
<img src="{{station.station_pic}}" alt="station" width="700" height="400">


<br>
<p1>------------------------------------------</p1><br>
</center>
<p2 align="left">{{ station.station_detail|linebreaksbr }}</p2><br>
<center>
<p1>-------------------------------------------------------------------</p1><br>
<br>
<p1>Tourist Attraction </p1><br>
</center>  
<br>
    {% if tourists %}
        {% for tourist in tourists %}
        <a href="{% url 'bts_for_fun:touristdetail' tourist.id %}" >
            <p2> {{ tourist.thai_name_tourist }} ({{ tourist.eng_name_tourist }})</p2><br>
            <img src="{{tourist.tourist_pic}}"  width="400" height="200"><br>
            <br>
        </a>
        
        {% endfor %}
    {% else %}
        <br/>
        <p><center>ยังไม่มีสถานที่ท่องเที่ยวที่น่าสนใจที่สถานีนี้</center></p>
        
    {% endif %}

{% endblock %}