{% extends 'bts_for_fun/layout.html' %}
{% block body %}
<br>
<br>
<center>
<p1>Station : {{ station.id }}</p1><br>
<br>
<p1>Station : {{ station.code_station }} {{ station.thai_name_station }} ({{ station.eng_name_station }})</p1>
<br>
<img src={{ BASIC_DIR }}/{{station.stt_pic}}  width="700" height="400">
<br>
<p1>------------------------------------------</p1><br>
</center>
<p2 align="left">{{ station.station_detail|linebreaksbr }}</p2><br>
<center>
<p1>-------------------------------------------------------------------</p1><br>
<br>
<p1>Tourist Attraction </p1><br>
</center>  
{{tourist}}
    {% if tourists %}
        {% for tourists in tourists %}
        <p1> {{ tourists.thai_name_tourist }} ({{ tourists.eng_name_tourist }})</p1><br>
        <img src={{ BASIC_DIR }}/{{tourists.t_pic}}  width="700" height="400"><br>
        <br>
        {% endfor %}
    {% else %}
        <br/>
        <p><center>ยังไม่มีสถานที่ท่องเที่ยวที่น่าสนใจที่สถานีนี้</center></p>
        
    {% endif %}

{% endblock %}